<div class="cardk">
    <img src="@Img" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Name</h5>
        <p class="card-text">@Description</p>
    </div>
    <NavLink class="btn btn-info" href=@GetUrl()>@Text</NavLink>
    </div>


    @code {
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public string? Description { get; set; }
    [Parameter]
    public string? Img { get; set; }
    [Parameter]
    public bool? Goback { get; set; }
    [Parameter]
    public int? Id { get; set; }

    public string GetUrl()
    {
        if (Id == null) return "/foto";
        return $"/foto/{Id}";
    }
}
