<nav>
    <div class="container my-3 d-flex justify-content-between">
        <NavLink href="">
            <img width="80" src="https://fotoservice.b-cdn.net/media/catalog/product/f/s/fs-bookfa-2121_01.jpg" />
        </NavLink>
        <ul class="list-unstyled justify-content-between d-flex gap-3">
            <li>
                <NavLink class="text-decoration-none " href="">Home</NavLink>
            </li>

            <li>
                <NavLink class="text-decoration-none " href="foto">Foto</NavLink>
            </li>

            <li>
                <NavLink class="text-decoration-none " href="dashboard">Dashboard admin</NavLink>
            </li>
        </ul>
    </div>
</nav>
